Flask == 2.3.2
Flask-SQLAlchemy == 3.0.3
Flask-Migrate == 4.0.4
Flask-JWT-Extended == 4.5.2
Flask-Cors == 4.0.0
python-dotenv == 1.0.0
minio == 7.1.17
Flask-Login == 0.6.3
flask-admin == 1.6.1
schedule == 1.2.1